@using S7.Net;
@model ConexaoPLCModel

<head>
    <link rel="stylesheet" href="~/css/styleConnect.css" asp-append-version="true" />
</head>

<div class="container" id="container">

        <h1>Conexão com PLC</h1>

        <form class="form" asp-controller="ConexaoPLC" asp-action="Conectar" method="post">
            <div class="form-group" id="tipocpu">
                <label class="control-label" id="label">Tipo de CPU</label>
                <select id="sel" class="form-select col-5" aria-label="Default select example"
                    asp-for="TipoCPU" asp-items="Html.GetEnumSelectList<CpuType>()" required>
                    <option value="0" disabled selected>Selecione o CLP</option>
                </select>
                <span asp-validation-for="TipoCPU" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label" id="label">IP</label>
                <input class="form-control col-5" name="Ip" type="text" asp-for="Ip" required />
            </div>

            <div class="form-group">
                <label class="control-label" id="label">Rack</label>
                <input class="form-control col-5" name="Rack" type="number" asp-for="Rack" required/>
            </div>

            <div class="form-group">
                <label class="control-label" id="label">Slot</label>
                <input class="form-control col-5" name="Slot" type="number" asp-for="Slot" required />
            </div>

            @if (!String.IsNullOrEmpty(ViewBag.StatusConexao))
            {
                <div class="conectado">@ViewBag.StatusConexao</div>
            }

            <button type="submit" class="btn btn-primary cnx_btn">Conectar</button>
            <button class="btn btn-danger desc_btn" asp-controller="ConexaoPLC" asp-action="Desconectar">Desconectar</button>

        </form>

</div>