@using S7.Net;
@model ConexaoPLCModel

<div class="container" id="container">

        <h1>Conexão com PLC</h1>

        <form class="form" asp-controller="ConexaoPLC" asp-action="Conectar" method="post">
            <div class="form-group" id="tipocpu">
                <label class="control-label" id="label">Tipo de CPU</label>
                <select id="sel" class="form-select col-5" aria-label="Default select example"
                asp-for="TipoCPU" asp-items="Html.GetEnumSelectList<CpuType>()">
                    <option value="0" disabled selected>Selecione o CLP</option>
                </select>
                <span asp-validation-for="TipoCPU" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label" id="label">IP</label>
                <input class="form-control col-5" name="Ip" type="text" asp-for="Ip" />
            </div>

            <div class="form-group">
                <label class="control-label" id="label">Rack</label>
                <input class="form-control col-5" name="Rack" type="number" asp-for="Rack" />
            </div>

            <div class="form-group">
                <label class="control-label" id="label">Slot</label>
                <input class="form-control col-5" name="Slot" type="number" asp-for="Slot" />
            </div>

            @if (!String.IsNullOrEmpty(ViewBag.StatusConexao))
            {
                <div class="conectado">@ViewBag.StatusConexao</div>
            }

            <button id="cnx_btn" type="submit" class="btn btn-primary">Conectar</button>
            <button id="desc_btn" class="btn btn-danger" asp-controller="ConexaoPLC" asp-action="Desconectar">Desconectar</button>

        </form>



</div>