.minhaDiv {
    background-color: lightgray;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 1px rgb(0, 0, 0, 0.5);
    width: 200px;
    font: bold 14pt Monaco;
}

.txtPrincipal {
    font: bold 20pt Monaco;
    text-align: center;
    margin: 0% 0% 8% 0%;
}

.elementos {
    font: normal 12pt Arial;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2% 4% 2% 4%;
}

.txt {
    font: bold 16pt Monaco;
    text-align: center;
    margin: 6% 0% 0% 0%;
}

.btbExec{
    font: normal 12pt Arial;
    margin: 8% 0% 3% 0%;
    padding: 3% 10% 3% 10%;
}

.RadioBtnAcao {
    font: bold 10pt Arial;
}

.leEscreveDiv {
    font: normal 12pt Arial;
    background-color: rgb(241, 241, 241);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    border-radius: 6px;
    width: 180px;
    height: 36px;
    margin: 0px 0px 10px 0px;
}

.leituraDiv{
    padding: 0px 10px 0px 0px;
}

.RadioBtnAcao {
    margin: 0px 2px 0px 2px;
}

.selectTipoDados {
    text-align: center;
}

.enderecoLabel{
    margin: 6px 0px 4px 0px;
}