@using S7.Net;
@model ReadWriteModel

<head>
    <link rel="stylesheet" href="~/css/StyleAdicionar.css" asp-append-version="true" />
</head>

<div class="container" id="container">

    <h1>Leituras e Acionamentos - PLC</h1>

    <div>
        <select id="selTipoDados">
            <option value="sel" selected>Tipo de Dado</option>
            <option value="Real">Real</option>
            <option value="Int">Int</option>
            <option value="Bool">Bool</option>
        </select>
        <button id="btnAdicionarDiv" class="btn btn-primary">Adicionar</button>
    </div>
    

    <div id="divContainer"></div>

</div>