@using S7.Net;
@model ReadWriteModel

<head>
    <link rel="stylesheet" href="~/css/StyleAdicionar.css" asp-append-version="true" />
</head>

<div class="container" id="container">

    <h1>Leituras e Acionamentos - PLC</h1>

    <button onclick="adicionarDiv()">Adicionar</button>

    <div id="divDinamica"></div>

</div>
